<%# <h1>Categories#new</h1>
<p>Find me in app/views/categories/new.html.erb</p> %>

<h1>Add a category:</h1>
<%= simple_form_for @category do |f| %>
  <%= f.input :name %>
  <%= f.submit "create a category", class: "btn btn-primary" %>
<% end %>

<%= link_to "Home category", categories_path %>
